<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <header>
        <h1>IRunes</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Users/Login">Login</a></li>
            <li><a href="/Users/Register">Register</a></li>
        </ul>
        <hr />
    </header>

    <main>
        <h1>Register</h1>
        <form action="/Users/Register" method="post">
            <p>
                <label>Username</label>
                <input type="text" name="username" placeholder="Username..." />
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password" placeholder="Password..." />
            </p>
            <p>
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" placeholder="Confirm Password..." />
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email" placeholder="Email..." />
            </p>
            <p>
                <input type="submit" value="Register" />
            </p>
        </form>
    </main>

    <footer>
        <hr />
        <p><strong>CopyRight &copy; Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>