<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <header>
        <h1>IRunes</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Albums/All">Albums</a></li>
            <li><a href="/Users/Logout">Logout</a></li>
        </ul>
        <hr />
    </header>

    <main>
        <h2>Welcome, {{username}}</h2>
        <h3>IRunes wishes you a fun experience.</h3>
    </main>

    <footer>
        <hr />
        <p><strong>CopyRight &copy; Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>