<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <header>
        <h1>IRunes</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Users/Login">Login</a></li>
            <li><a href="/Users/Register">Register</a></li>
        </ul>
        <hr />
    </header>

    <main>
        <h2>Welcome to IRunes</h2>
        <h3><a href="/Users/Login">Login</a> if you have an account.</h3>
        <h3><a href="/Users/Register">Register</a> if you don't.</h3>
    </main>

    <footer>
        <hr />
        <p><strong>CopyRight &copy; Sanity Design Studios. All rights reserved.</strong></p>
    </footer>
</body>
</html>